<!DOCTYPE html>
<html>
<head>
    <title>Notification</title>
    <link rel="stylesheet" href="form.css">
</head>
<body>
    <h2>Room Request Accepted</h2>
    <p>Your room request has been successfully accepted.</p>
    <button onclick="logout()">Logout</button>

    <script>
        function logout() {
            // Redirect to the student form page
            window.location.href = 'login option.html';
        }
    </script>
</body>
</html>