*{
    margin: 0;
    padding: 0;
}

.main{
    width:100%;
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0, 0, 0, 0.5)50%), url(1.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 1400px;
    height: 20px;
    margin: auto;
}

.icon{
    width: 100px;
    float: left;
    height: 30px;
}

.logo{
    color:black;
    font-size: 30px;
    font-family: Arial;
    padding-left: 120px;
    float: left;
    padding-top: 20px;
}

.Logo{
    color:black;
    font-size: 40px;
    font-family: Arial;
    padding-left: 120px;
    float: left;
    padding-top: 5px;
}


.menu{
    width: 375px;
    float: right;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: left;
    align-items: left;
}

ul li{
    list-style: none;
    margin-left: 40px;
    margin-top: 30px;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
    color:#fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200
}

.content{
    width: 1200px;
    height: none;
    margin: 20px;
    color:rgb(134, 134, 223);
    position: relative;
}

.content .par{
    padding-left: 40px;
    padding-bottom: 30px;
    font-family:Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    font-size:20px;
    font-weight: bold; 
}

.content h1{
    font-family:'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 14%;
    letter-spacing: 2px;
}

.content .btn{
    width: 100px;
    height: 30px;
    background:#ff7200;
    border:none;
    margin-bottom: 50px;
    margin-left: 10px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s ease;
    margin-top: 30px;
}


.content .btn a{
    text-decoration: none;
    color:black;
    transition: .3s ease;
    font-weight: bold;
}

.btn:hover{
    background-color: #fff;
}

.form{
    width: 260px;
    height: 385px;
    background: linear-gradient(to top, rgba(5, 5, 5, 0.8)50%, rgba(2, 2, 2, 0.8)50%);
    position:absolute;
    top:-40px;
    left: 1070px;
    border-radius: 10px;
    padding: 50px;
}

.form h2{
    width:220px;
    font-family: sans-serif;
    text-align: center;
    color:#ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 18px;
    margin: 20px;
    padding: 10px;
}

.form input{
    width:240px;
    height: 50px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #ebe2e2;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #ebe2e2;
    font-family: Arial;
}

.link{
    padding-top: 0px;
    padding-bottom: 15px;
    text-align: center;
    font-weight: bold;
}
